XSD/CityGML_UtilityNetworkADE.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bldg="http://www.opengis.net/citygml/building/2.0" xmlns:core="http://www.opengis.net/citygml/2.0" xmlns:gml="http://www.opengis.net/gml" xmlns:grp="http://www.opengis.net/citygml/cityobjectgroup/2.0" xmlns:utility="http://www.citygml.org/ade/utility/0.9.2" elementFormDefault="qualified" targetNamespace="http://www.citygml.org/ade/utility/0.9.2" version="0.9.2">
  <annotation>
    <documentation>This version of the UtilityNetwork ADE extends version 0.9.0 from http://www.citygmlwiki.org/index.php?title=CityGML_UtilityNetworkADE by functional characteristics and refinements as described in Kutzner, T. and Kolbe, T. H. (2016) Extending Semantic 3D City Models by Supply and Disposal Networks for Analysing the Urban Supply Situation, http://www.dgpf.de/src/tagung/jt2016/proceedings/papers/36_DLT2016_Kutzner_Kolbe.pdf</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/citygml/2.0" schemaLocation="http://schemas.opengis.net/citygml/2.0/cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/citygml/building/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/building.xsd"/>
  <import namespace="http://www.opengis.net/citygml/cityobjectgroup/2.0" schemaLocation="http://schemas.opengis.net/citygml/cityobjectgroup/2.0/cityObjectGroup.xsd"/>
  <import namespace="http://www.opengis.net/citygml/appearance/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/appearance.xsd"/>
  <import namespace="http://www.opengis.net/citygml/generics/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/generics.xsd"/>
  <import namespace="http://www.opengis.net/citygml/transportation/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/transportation.xsd"/>
  <import namespace="http://www.opengis.net/citygml/relief/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/relief.xsd"/>
  <import namespace="http://www.opengis.net/citygml/landuse/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/landuse.xsd"/>
  <import namespace="http://www.opengis.net/citygml/vegetation/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/vegetation.xsd"/>
  <import namespace="http://www.opengis.net/citygml/waterbody/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/waterbody.xsd"/>
  <import namespace="http://www.opengis.net/citygml/cityfurniture/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/cityfurniture.xsd"/>
  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractCommodity" substitutionGroup="gml:_Feature" type="utility:AbstractCommodityType"/>
  <complexType abstract="true" name="AbstractCommodityType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="owner" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="isClassifiedBy" type="utility:AbstractCommodityClassifierPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="associatedNetwork" type="utility:NetworkPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractCommodityPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:AbstractCommodity"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractCommodityClassifier" substitutionGroup="gml:_Feature" type="utility:AbstractCommodityClassifierType"/>
  <complexType abstract="true" name="AbstractCommodityClassifierType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="molFormula" type="string"/>
          <element minOccurs="0" name="description" type="string"/>
          <element minOccurs="0" name="physicalForm" type="string"/>
          <element minOccurs="0" name="molecularWeight" type="gml:MeasureType"/>
          <element minOccurs="0" name="signalWord" type="utility:SignalWordValueType"/>
          <element minOccurs="0" name="isChemicalComplex" type="boolean"/>
          <element minOccurs="0" name="hazardClass" type="utility:HazardClassPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="consistsOfFurtherElements" type="utility:AbstractCommodityClassifierPropertyType"/>
          <element minOccurs="0" name="definesMaterial" type="utility:AbstractFeatureMaterialPropertyType"/>
          <element minOccurs="0" name="definesCommodity" type="utility:AbstractCommodityPropertyType"/>
          <element minOccurs="0" name="boundedBy" type="utility:AbstractHollowSpacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractCommodityClassifierPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:AbstractCommodityClassifier"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractDevice" substitutionGroup="utility:AbstractNetworkFeature" type="utility:AbstractDeviceType"/>
  <complexType abstract="true" name="AbstractDeviceType">
    <complexContent>
      <extension base="utility:AbstractNetworkFeatureType">
        <sequence>
          <element minOccurs="0" name="description" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:AbstractDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractDistributionElement" substitutionGroup="utility:AbstractNetworkFeature" type="utility:AbstractDistributionElementType"/>
  <complexType abstract="true" name="AbstractDistributionElementType">
    <complexContent>
      <extension base="utility:AbstractNetworkFeatureType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
          <element minOccurs="0" name="functionOfLine" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDistributionElementPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:AbstractDistributionElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractFeatureMaterial" substitutionGroup="gml:_Feature" type="utility:AbstractFeatureMaterialType"/>
  <complexType abstract="true" name="AbstractFeatureMaterialType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="consistsOfFM" type="utility:FillingMaterialPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="consistsOf" type="utility:InteriorMaterialPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="isClassifiedBy" type="utility:AbstractCommodityClassifierPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usedBy" type="utility:AbstractNetworkFeaturePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractFeatureMaterialPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:AbstractFeatureMaterial"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractHollowSpace" substitutionGroup="gml:_Feature" type="utility:AbstractHollowSpaceType"/>
  <complexType abstract="true" name="AbstractHollowSpaceType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="containedCommodity" type="utility:AbstractCommodityClassifierPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="consistsOfParts" type="utility:HollowSpacePartPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractHollowSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:AbstractHollowSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractLink" substitutionGroup="gml:_Feature" type="utility:AbstractLinkType"/>
  <complexType abstract="true" name="AbstractLinkType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="direction" type="gml:SignType"/>
          <element minOccurs="0" name="linkControl" type="utility:AbstractLinkControlPropertyType"/>
          <element minOccurs="0" name="realization" type="gml:CurvePropertyType"/>
          <element name="start" type="utility:NodePropertyType"/>
          <element name="end" type="utility:NodePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:AbstractLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractLinkControl" substitutionGroup="gml:_Object" type="utility:AbstractLinkControlType"/>
  <complexType abstract="true" name="AbstractLinkControlType">
    <sequence/>
  </complexType>
  <complexType name="AbstractLinkControlPropertyType">
    <sequence>
      <element ref="utility:AbstractLinkControl"/>
    </sequence>
  </complexType>
  <element name="AbstractMediumSupply" substitutionGroup="gml:_Object" type="utility:AbstractMediumSupplyType"/>
  <complexType name="AbstractMediumSupplyType">
    <sequence>
      <element minOccurs="0" name="potentialSupply" type="utility:SupplyPropertyType"/>
      <element minOccurs="0" name="currentSupply" type="utility:SupplyPropertyType"/>
      <element maxOccurs="unbounded" minOccurs="0" name="storage" type="utility:StoragePropertyType"/>
    </sequence>
  </complexType>
  <complexType name="AbstractMediumSupplyPropertyType">
    <sequence>
      <element ref="utility:AbstractMediumSupply"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AbstractNetworkFeature" substitutionGroup="core:_CityObject" type="utility:AbstractNetworkFeatureType"/>
  <complexType abstract="true" name="AbstractNetworkFeatureType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element minOccurs="0" name="function" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType"/>
          <element minOccurs="0" name="connectedCityObject" type="anyURI"/>
          <element minOccurs="0" name="yearOfConstruction" type="date"/>
          <element minOccurs="0" name="status" type="utility:StatusValueType"/>
          <element minOccurs="0" name="locationQuality" type="utility:SpatialQualityValueType"/>
          <element minOccurs="0" name="elevationQuality" type="utility:SpatialQualityValueType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="consistsOf" type="utility:AbstractNetworkFeaturePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hasMaterial" type="utility:AbstractFeatureMaterialPropertyType"/>
          <element minOccurs="0" name="topoGraph" type="utility:FeatureGraphPropertyType"/>
          <element minOccurs="0" name="occupiedHollowSpace" type="utility:AbstractHollowSpacePropertyType"/>
          <element minOccurs="0" name="lod1Geometry" type="gml:GeometryPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractNetworkFeaturePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:AbstractNetworkFeature"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractPipe" substitutionGroup="utility:AbstractDistributionElement" type="utility:AbstractPipeType"/>
  <complexType abstract="true" name="AbstractPipeType">
    <complexContent>
      <extension base="utility:AbstractDistributionElementType">
        <sequence>
          <element minOccurs="0" name="isGravity" type="boolean"/>
          <element minOccurs="0" name="exteriorWidth" type="gml:LengthType"/>
          <element minOccurs="0" name="exteriorHeight" type="gml:LengthType"/>
          <element minOccurs="0" name="exteriorDiameter" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractPipePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:AbstractPipe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractProtectionShell" substitutionGroup="utility:ProtectiveElement" type="utility:AbstractProtectionShellType"/>
  <complexType abstract="true" name="AbstractProtectionShellType">
    <complexContent>
      <extension base="utility:ProtectiveElementType">
        <sequence>
          <element minOccurs="0" name="exteriorWidth" type="gml:LengthType"/>
          <element minOccurs="0" name="exteriorHeight" type="gml:LengthType"/>
          <element minOccurs="0" name="exteriorDiameter" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractProtectionShellPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:AbstractProtectionShell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractSignature" substitutionGroup="gml:_Object" type="utility:AbstractSignatureType"/>
  <complexType abstract="true" name="AbstractSignatureType">
    <sequence/>
  </complexType>
  <complexType name="AbstractSignaturePropertyType">
    <sequence>
      <element ref="utility:AbstractSignature"/>
    </sequence>
  </complexType>
  <element name="AnyDevice" substitutionGroup="utility:AbstractDevice" type="utility:AnyDeviceType"/>
  <complexType name="AnyDeviceType">
    <complexContent>
      <extension base="utility:AbstractDeviceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AnyDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:AnyDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Bedding" substitutionGroup="utility:ProtectiveElement" type="utility:BeddingType"/>
  <complexType name="BeddingType">
    <complexContent>
      <extension base="utility:ProtectiveElementType">
        <sequence>
          <element minOccurs="0" name="width" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BeddingPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:Bedding"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Cable" substitutionGroup="utility:AbstractDistributionElement" type="utility:CableType"/>
  <complexType name="CableType">
    <complexContent>
      <extension base="utility:AbstractDistributionElementType">
        <sequence>
          <element minOccurs="0" name="isTransmission" type="boolean"/>
          <element minOccurs="0" name="isCommunication" type="boolean"/>
          <element minOccurs="0" name="crossSection" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:Cable"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Canal" substitutionGroup="utility:AbstractDistributionElement" type="utility:CanalType"/>
  <complexType name="CanalType">
    <complexContent>
      <extension base="utility:AbstractDistributionElementType">
        <sequence>
          <element minOccurs="0" name="profileName" type="string"/>
          <element minOccurs="0" name="slope" type="gml:QuantityExtentType"/>
          <element minOccurs="0" name="isGravity" type="boolean"/>
          <element minOccurs="0" name="exteriorWidth" type="gml:LengthType"/>
          <element minOccurs="0" name="exteriorHeight" type="gml:LengthType"/>
          <element minOccurs="0" name="exteriorDiameter" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CanalPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:Canal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ChemicalClassifier" substitutionGroup="utility:AbstractCommodityClassifier" type="utility:ChemicalClassifierType"/>
  <complexType name="ChemicalClassifierType">
    <complexContent>
      <extension base="utility:AbstractCommodityClassifierType">
        <sequence>
          <element minOccurs="0" name="ECNo" type="string"/>
          <element minOccurs="0" name="CasNo" type="string"/>
          <element minOccurs="0" name="IUCLIDChemicalDataSheet" type="anyURI"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ChemicalClassifierPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:ChemicalClassifier"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Closed" substitutionGroup="utility:Canal" type="utility:ClosedType"/>
  <complexType name="ClosedType">
    <complexContent>
      <extension base="utility:CanalType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ClosedPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:Closed"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ComplexFunctionalElement" substitutionGroup="utility:AbstractNetworkFeature" type="utility:ComplexFunctionalElementType"/>
  <complexType name="ComplexFunctionalElementType">
    <complexContent>
      <extension base="utility:AbstractNetworkFeatureType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ComplexFunctionalElementPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:ComplexFunctionalElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ControllerDevice" substitutionGroup="utility:AbstractDevice" type="utility:ControllerDeviceType"/>
  <complexType name="ControllerDeviceType">
    <complexContent>
      <extension base="utility:AbstractDeviceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ControllerDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:ControllerDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ElectricalMedium" substitutionGroup="utility:AbstractCommodity" type="utility:ElectricalMediumType"/>
  <complexType name="ElectricalMediumType">
    <complexContent>
      <extension base="utility:AbstractCommodityType">
        <sequence>
          <element name="type" type="utility:ElectricalMediumValueType"/>
          <element minOccurs="0" name="voltageRange" type="gml:QuantityExtentType"/>
          <element minOccurs="0" name="amperageRange" type="gml:QuantityExtentType"/>
          <element minOccurs="0" name="bandWidth" type="gml:QuantityExtentType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElectricalMediumPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:ElectricalMedium"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ElectricalMediumSupply" substitutionGroup="utility:AbstractMediumSupply" type="utility:ElectricalMediumSupplyType"/>
  <complexType name="ElectricalMediumSupplyType">
    <complexContent>
      <extension base="utility:AbstractMediumSupplyType">
        <sequence>
          <element name="type" type="utility:ElectricalMediumValueType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElectricalMediumSupplyPropertyType">
    <sequence>
      <element ref="utility:ElectricalMediumSupply"/>
    </sequence>
  </complexType>
  <simpleType name="ElectricalMediumValueType">
    <restriction base="string">
      <enumeration value="unknown"/>
      <enumeration value="directCurrent"/>
      <enumeration value="singlePhaseAlternatingCurrent"/>
      <enumeration value="threePhaseAlternatingCurrent"/>
      <enumeration value="undulatoryCurrent"/>
      <enumeration value="telephone"/>
    </restriction>
  </simpleType>
  <element name="ExteriorMaterial" substitutionGroup="utility:AbstractFeatureMaterial" type="utility:ExteriorMaterialType"/>
  <complexType name="ExteriorMaterialType">
    <complexContent>
      <extension base="utility:AbstractFeatureMaterialType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExteriorMaterialPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:ExteriorMaterial"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="FeatureGraph" substitutionGroup="gml:_Feature" type="utility:FeatureGraphType"/>
  <complexType name="FeatureGraphType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="linkMember" type="utility:InteriorFeatureLinkPropertyType"/>
          <element maxOccurs="unbounded" name="nodeMember" type="utility:NodePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="networkLinkMember" type="utility:NetworkLinkPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureGraphPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:FeatureGraph"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="FillingMaterial" substitutionGroup="gml:_Feature" type="utility:FillingMaterialType"/>
  <complexType name="FillingMaterialType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FillingMaterialPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:FillingMaterial"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="GHSClassifier" substitutionGroup="utility:AbstractCommodityClassifier" type="utility:GHSClassifierType"/>
  <complexType name="GHSClassifierType">
    <complexContent>
      <extension base="utility:AbstractCommodityClassifierType">
        <sequence>
          <element minOccurs="0" name="ECNo" type="string"/>
          <element minOccurs="0" name="CasNo" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GHSClassifierPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:GHSClassifier"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="GaseousMedium" substitutionGroup="utility:AbstractCommodity" type="utility:GaseousMediumType"/>
  <complexType name="GaseousMediumType">
    <complexContent>
      <extension base="utility:AbstractCommodityType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="concentration" type="gml:MeasureType"/>
          <element minOccurs="0" name="isExplosive" type="boolean"/>
          <element minOccurs="0" name="pressureRange" type="gml:QuantityExtentType"/>
          <element minOccurs="0" name="electricConductivity" type="gml:QuantityExtentType"/>
          <element minOccurs="0" name="lighterThanAir" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GaseousMediumPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:GaseousMedium"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="GaseousMediumSupply" substitutionGroup="utility:AbstractMediumSupply" type="utility:GaseousMediumSupplyType"/>
  <complexType name="GaseousMediumSupplyType">
    <complexContent>
      <extension base="utility:AbstractMediumSupplyType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GaseousMediumSupplyPropertyType">
    <sequence>
      <element ref="utility:GaseousMediumSupply"/>
    </sequence>
  </complexType>
  <element name="GenericClassifier" substitutionGroup="utility:AbstractCommodityClassifier" type="utility:GenericClassifierType"/>
  <complexType name="GenericClassifierType">
    <complexContent>
      <extension base="utility:AbstractCommodityClassifierType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GenericClassifierPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:GenericClassifier"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="HazardClass" substitutionGroup="gml:_Object" type="utility:HazardClassType"/>
  <complexType name="HazardClassType">
    <sequence>
      <element minOccurs="0" name="hazardClass" type="string"/>
      <element minOccurs="0" name="categoryCode" type="string"/>
      <element minOccurs="0" name="statementCode" type="string"/>
      <element minOccurs="0" name="pictogramCode" type="string"/>
      <element minOccurs="0" name="pictogramURI" type="anyURI"/>
    </sequence>
  </complexType>
  <complexType name="HazardClassPropertyType">
    <sequence>
      <element ref="utility:HazardClass"/>
    </sequence>
  </complexType>
  <element name="HollowSpace" substitutionGroup="utility:AbstractHollowSpace" type="utility:HollowSpaceType"/>
  <complexType name="HollowSpaceType">
    <complexContent>
      <extension base="utility:AbstractHollowSpaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HollowSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:HollowSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="HollowSpacePart" substitutionGroup="utility:AbstractHollowSpace" type="utility:HollowSpacePartType"/>
  <complexType name="HollowSpacePartType">
    <complexContent>
      <extension base="utility:AbstractHollowSpaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HollowSpacePartPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:HollowSpacePart"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="InterFeatureLink" substitutionGroup="utility:AbstractLink" type="utility:InterFeatureLinkType"/>
  <complexType name="InterFeatureLinkType">
    <complexContent>
      <extension base="utility:AbstractLinkType">
        <sequence>
          <element name="type" type="utility:InterFeatureLinkValueType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InterFeatureLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:InterFeatureLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="InterFeatureLinkValueType">
    <restriction base="string">
      <enumeration value="connects"/>
      <enumeration value="contains"/>
    </restriction>
  </simpleType>
  <element name="InteriorFeatureLink" substitutionGroup="utility:AbstractLink" type="utility:InteriorFeatureLinkType"/>
  <complexType name="InteriorFeatureLinkType">
    <complexContent>
      <extension base="utility:AbstractLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InteriorFeatureLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:InteriorFeatureLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="InteriorMaterial" substitutionGroup="utility:AbstractFeatureMaterial" type="utility:InteriorMaterialType"/>
  <complexType name="InteriorMaterialType">
    <complexContent>
      <extension base="utility:AbstractFeatureMaterialType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InteriorMaterialPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:InteriorMaterial"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="LiquidMedium" substitutionGroup="utility:AbstractCommodity" type="utility:LiquidMediumType"/>
  <complexType name="LiquidMediumType">
    <complexContent>
      <extension base="utility:AbstractCommodityType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="isCorrosive" type="boolean"/>
          <element minOccurs="0" name="isExplosive" type="boolean"/>
          <element minOccurs="0" name="flammable" type="core:doubleBetween0and1"/>
          <element minOccurs="0" name="electricConductivity" type="gml:QuantityExtentType"/>
          <element minOccurs="0" name="phValueRange" type="gml:QuantityExtentType"/>
          <element minOccurs="0" name="temperatureRange" type="gml:QuantityExtentType"/>
          <element minOccurs="0" name="flowRateRange" type="gml:QuantityExtentType"/>
          <element minOccurs="0" name="pressureRange" type="gml:QuantityExtentType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LiquidMediumPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:LiquidMedium"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="LiquidMediumSupply" substitutionGroup="utility:AbstractMediumSupply" type="utility:LiquidMediumSupplyType"/>
  <complexType name="LiquidMediumSupplyType">
    <complexContent>
      <extension base="utility:AbstractMediumSupplyType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LiquidMediumSupplyPropertyType">
    <sequence>
      <element ref="utility:LiquidMediumSupply"/>
    </sequence>
  </complexType>
  <element name="MeasurementDevice" substitutionGroup="utility:AbstractDevice" type="utility:MeasurementDeviceType"/>
  <complexType name="MeasurementDeviceType">
    <complexContent>
      <extension base="utility:AbstractDeviceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MeasurementDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:MeasurementDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Network" substitutionGroup="core:_CityObject" type="utility:NetworkType"/>
  <complexType name="NetworkType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType"/>
          <element minOccurs="0" name="transportedMedium" type="utility:AbstractCommodityPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="subNetwork" type="utility:NetworkPropertyType"/>
          <element minOccurs="0" name="topoGraph" type="utility:NetworkGraphPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="component" type="utility:AbstractNetworkFeaturePropertyType"/>
          <element minOccurs="0" name="supplies" type="utility:SupplyAreaPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="subOrdinateNetwork" type="utility:NetworkPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="superOrdinateNetwork" type="utility:NetworkPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NetworkPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:Network"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="NetworkClassValueType">
    <restriction base="string">
      <enumeration value="HighVoltageNetwork"/>
      <enumeration value="MediumVoltageNetwork"/>
      <enumeration value="LowVoltageNetwork"/>
      <enumeration value="HighPressureNetwork"/>
      <enumeration value="MediumPressureNetwork"/>
      <enumeration value="LowPressureNetwork"/>
    </restriction>
  </simpleType>
  <simpleType name="NetworkFunctionAndUsageValueType">
    <restriction base="string">
      <enumeration value="supply"/>
      <enumeration value="disposal"/>
      <enumeration value="communication"/>
    </restriction>
  </simpleType>
  <element name="NetworkGraph" substitutionGroup="gml:_Feature" type="utility:NetworkGraphType"/>
  <complexType name="NetworkGraphType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="featureGraphMember" type="utility:FeatureGraphPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="linkMember" type="utility:InterFeatureLinkPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NetworkGraphPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:NetworkGraph"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="NetworkLink" substitutionGroup="utility:AbstractLink" type="utility:NetworkLinkType"/>
  <complexType name="NetworkLinkType">
    <complexContent>
      <extension base="utility:AbstractLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NetworkLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:NetworkLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Node" substitutionGroup="gml:_Feature" type="utility:NodeType"/>
  <complexType name="NodeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="type" type="utility:NodeValueType"/>
          <element minOccurs="0" name="connectionSignature" type="utility:AbstractSignaturePropertyType"/>
          <element minOccurs="0" name="linkControl" type="utility:AbstractLinkControlPropertyType"/>
          <element minOccurs="0" name="realization" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NodePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:Node"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="NodeValueType">
    <restriction base="string">
      <enumeration value="exterior"/>
      <enumeration value="interior"/>
    </restriction>
  </simpleType>
  <element name="OpticalMedium" substitutionGroup="utility:AbstractCommodity" type="utility:OpticalMediumType"/>
  <complexType name="OpticalMediumType">
    <complexContent>
      <extension base="utility:AbstractCommodityType">
        <sequence>
          <element name="type" type="utility:OpticalMediumValueType"/>
          <element minOccurs="0" name="modeType" type="utility:OpticalModeValueType"/>
          <element minOccurs="0" name="bandWidth" type="gml:QuantityExtentType"/>
          <element minOccurs="0" name="coreCrossSection" type="gml:LengthType"/>
          <element minOccurs="0" name="claddingCrossSection" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OpticalMediumPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:OpticalMedium"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="OpticalMediumSupply" substitutionGroup="utility:AbstractMediumSupply" type="utility:OpticalMediumSupplyType"/>
  <complexType name="OpticalMediumSupplyType">
    <complexContent>
      <extension base="utility:AbstractMediumSupplyType">
        <sequence>
          <element name="type" type="utility:OpticalMediumValueType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OpticalMediumSupplyPropertyType">
    <sequence>
      <element ref="utility:OpticalMediumSupply"/>
    </sequence>
  </complexType>
  <simpleType name="OpticalMediumValueType">
    <restriction base="string">
      <enumeration value="unknown"/>
      <enumeration value="light"/>
    </restriction>
  </simpleType>
  <simpleType name="OpticalModeValueType">
    <restriction base="string">
      <enumeration value="singleMode"/>
      <enumeration value="multiMode"/>
    </restriction>
  </simpleType>
  <element name="OtherShapePipe" substitutionGroup="utility:AbstractPipe" type="utility:OtherShapePipeType"/>
  <complexType name="OtherShapePipeType">
    <complexContent>
      <extension base="utility:AbstractPipeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OtherShapePipePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:OtherShapePipe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="OtherShell" substitutionGroup="utility:AbstractProtectionShell" type="utility:OtherShellType"/>
  <complexType name="OtherShellType">
    <complexContent>
      <extension base="utility:AbstractProtectionShellType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OtherShellPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:OtherShell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ProtectiveElement" substitutionGroup="utility:AbstractNetworkFeature" type="utility:ProtectiveElementType"/>
  <complexType name="ProtectiveElementType">
    <complexContent>
      <extension base="utility:AbstractNetworkFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="contains" type="utility:AbstractNetworkFeaturePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProtectiveElementPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:ProtectiveElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RectangularPipe" substitutionGroup="utility:AbstractPipe" type="utility:RectangularPipeType"/>
  <complexType name="RectangularPipeType">
    <complexContent>
      <extension base="utility:AbstractPipeType">
        <sequence>
          <element minOccurs="0" name="interiorWidth" type="gml:LengthType"/>
          <element minOccurs="0" name="interiorHeight" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RectangularPipePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:RectangularPipe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RectangularShell" substitutionGroup="utility:AbstractProtectionShell" type="utility:RectangularShellType"/>
  <complexType name="RectangularShellType">
    <complexContent>
      <extension base="utility:AbstractProtectionShellType">
        <sequence>
          <element minOccurs="0" name="interiorWidth" type="gml:LengthType"/>
          <element minOccurs="0" name="interiorHeight" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RectangularShellPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:RectangularShell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RoleInNetwork" substitutionGroup="gml:_Feature" type="utility:RoleInNetworkType"/>
  <complexType name="RoleInNetworkType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="functionInNetwork" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usageInNetwork" type="gml:CodeType"/>
          <element name="network" type="utility:NetworkPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoleInNetworkPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:RoleInNetwork"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RoundPipe" substitutionGroup="utility:AbstractPipe" type="utility:RoundPipeType"/>
  <complexType name="RoundPipeType">
    <complexContent>
      <extension base="utility:AbstractPipeType">
        <sequence>
          <element minOccurs="0" name="interiorDiameter" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoundPipePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:RoundPipe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RoundShell" substitutionGroup="utility:AbstractProtectionShell" type="utility:RoundShellType"/>
  <complexType name="RoundShellType">
    <complexContent>
      <extension base="utility:AbstractProtectionShellType">
        <sequence>
          <element minOccurs="0" name="interiorDiameter" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoundShellPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:RoundShell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="SemiOpen" substitutionGroup="utility:Canal" type="utility:SemiOpenType"/>
  <complexType name="SemiOpenType">
    <complexContent>
      <extension base="utility:CanalType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SemiOpenPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:SemiOpen"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="SignalWordValueType">
    <restriction base="string">
      <enumeration value="unknown"/>
      <enumeration value="nonHazardous"/>
      <enumeration value="attention"/>
      <enumeration value="hazardous"/>
    </restriction>
  </simpleType>
  <element name="SimpleFunctionalElement" substitutionGroup="utility:AbstractNetworkFeature" type="utility:SimpleFunctionalElementType"/>
  <complexType name="SimpleFunctionalElementType">
    <complexContent>
      <extension base="utility:AbstractNetworkFeatureType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SimpleFunctionalElementPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:SimpleFunctionalElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="SolidMedium" substitutionGroup="utility:AbstractCommodity" type="utility:SolidMediumType"/>
  <complexType name="SolidMediumType">
    <complexContent>
      <extension base="utility:AbstractCommodityType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="isExplosive" type="boolean"/>
          <element minOccurs="0" name="flammable" type="core:doubleBetween0and1"/>
          <element minOccurs="0" name="concentration" type="gml:MeasureType"/>
          <element minOccurs="0" name="electricConductivity" type="gml:QuantityExtentType"/>
          <element minOccurs="0" name="pressureRange" type="gml:QuantityExtentType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SolidMediumPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:SolidMedium"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="SolidMediumSupply" substitutionGroup="utility:AbstractMediumSupply" type="utility:SolidMediumSupplyType"/>
  <complexType name="SolidMediumSupplyType">
    <complexContent>
      <extension base="utility:AbstractMediumSupplyType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SolidMediumSupplyPropertyType">
    <sequence>
      <element ref="utility:SolidMediumSupply"/>
    </sequence>
  </complexType>
  <simpleType name="SpatialQualityValueType">
    <restriction base="string">
      <enumeration value="unknown"/>
      <enumeration value="surveyed"/>
      <enumeration value="calculated"/>
      <enumeration value="interpolated"/>
      <enumeration value="estimated"/>
      <enumeration value="assumed"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusValueType">
    <restriction base="string">
      <enumeration value="inUse"/>
      <enumeration value="tempOutOfService"/>
      <enumeration value="outOfService"/>
      <enumeration value="destroyed"/>
      <enumeration value="unknown"/>
    </restriction>
  </simpleType>
  <element name="Storage" substitutionGroup="gml:_Object" type="utility:StorageType"/>
  <complexType name="StorageType">
    <sequence>
      <element minOccurs="0" name="type" type="gml:CodeType"/>
      <element minOccurs="0" name="maxCapacity" type="gml:MeasureType"/>
      <element minOccurs="0" name="fillLevel" type="core:doubleBetween0and1"/>
      <element minOccurs="0" name="inflowRate" type="gml:MeasureType"/>
      <element minOccurs="0" name="outflowRate" type="gml:MeasureType"/>
    </sequence>
  </complexType>
  <complexType name="StoragePropertyType">
    <sequence>
      <element ref="utility:Storage"/>
    </sequence>
  </complexType>
  <element name="StorageDevice" substitutionGroup="utility:AbstractDevice" type="utility:StorageDeviceType"/>
  <complexType name="StorageDeviceType">
    <complexContent>
      <extension base="utility:AbstractDeviceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StorageDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:StorageDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Supply" substitutionGroup="gml:_Object" type="utility:SupplyType"/>
  <complexType name="SupplyType">
    <sequence>
      <element minOccurs="0" name="flowRate" type="gml:MeasureType"/>
      <element minOccurs="0" name="status" type="utility:StatusValueType"/>
    </sequence>
  </complexType>
  <complexType name="SupplyPropertyType">
    <sequence>
      <element ref="utility:Supply"/>
    </sequence>
  </complexType>
  <element name="SupplyArea" substitutionGroup="grp:CityObjectGroup" type="utility:SupplyAreaType"/>
  <complexType name="SupplyAreaType">
    <complexContent>
      <extension base="grp:CityObjectGroupType">
        <sequence>
          <element name="suppliedBy" type="utility:NetworkPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SupplyAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:SupplyArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="TechDevice" substitutionGroup="utility:AbstractDevice" type="utility:TechDeviceType"/>
  <complexType name="TechDeviceType">
    <complexContent>
      <extension base="utility:AbstractDeviceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TechDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="utility:TechDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="TerminalElement" substitutionGroup="utility:AbstractNetworkFeature" type="utility:TerminalElementType"/>
  <complexType name="TerminalElementType">
    <complexContent>
      <extension base="utility:AbstractNetworkFeatureType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TerminalElementPropertyType">
    <sequence minOccurs="0">
      <element ref="utility:TerminalElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="buildingHabitants" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="integer"/>
  <element name="mediumSupply" substitutionGroup="core:_GenericApplicationPropertyOfCityObject" type="utility:AbstractMediumSupplyPropertyType"/>
  <element name="roleInNetwork" substitutionGroup="core:_GenericApplicationPropertyOfCityObject" type="utility:RoleInNetworkPropertyType"/>
</schema>
